{% extends "app/index.html.twig" %}

{% block addition %}
	Homepage
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link href="/styles/app/general/homepage.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="fullscreen-preview">
		<img class="img-preview">
		<span class="close">
			Close
		</span>
	</div>
	<main class="home-gallery-container">
		{% for item in gallery %}
			<article class="home-gallery-elem" data-id={{item.id}}>
				<img src="/gallery/{{item.Image}}" alt="Image no. {{item.id}}" class="uploaded-img">
				<div class="item-data">
					<p class="cat-date">
						Uploaded into
						<span>
							{% if item.category %}
								{{item.category.Name}}
							{% else %}
								uncategorized
							{% endif %}
						</span>
						at
						<span>
							{{item.addedAt|date('D M d, Y')}}
						</span>
					</p>
					<div class="views">
						{% if app.user %}
							{% if app.user.colorSchema == 'light' %}
								<img src="/icons/light/eye.svg">
							{% else %}
								<img src="/icons/dark/eye.svg">
							{% endif %}
						{% else %}
							<img src="/icons/light/eye.svg">
						{% endif %}
						{% set views = item.views|length %}
						{% if views >= 0 and views < 1000 %}
							{{views}}
						{% endif %}
						{% if views > 999 and views < 1000000 %}
							{{(views / 1000)|round(1, 'floor')}}K
						{% endif %}
						{% if views > 1000000 and views < 1000000000 %}
							{{(views / 1000000)|round(1, 'floor')}}M
						{% endif %}
						{% if views > 1000000000 and views < 1000000000 %}
							{{(likes / 1000000000)|round(1, 'floor')}}B
						{% endif %}
					</div>
					<div class="likes">
						{% if app.user %}
							<a href="{{path('like', {'id': item.id, 'ref': app.request.pathInfo})}}">
								{% if app.user in item.likes %}
									{% if app.user.colorSchema == 'light' %}
										<img src="/icons/light/liked.svg">
									{% else %}
										<img src="/icons/dark/liked.svg">
									{% endif %}
								{% else %}
									{% if app.user.colorSchema == 'light' %}
										<img src="/icons/light/like.svg">
									{% else %}
										<img src="/icons/dark/like.svg">
									{% endif %}
								{% endif %}
							</a>
						{% else %}
							<img src="/icons/light/liked.svg">
						{% endif %}
						{% set likes = item.likes|length %}
						{% if likes >= 0 and likes < 1000 %}
							{{likes}}
						{% endif %}
						{% if likes > 999 and likes < 1000000 %}
							{{(likes / 1000)|round(1, 'floor')}}K
						{% endif %}
						{% if likes > 1000000 and likes < 1000000000 %}
							{{(likes / 1000000)|round(1, 'floor')}}M
						{% endif %}
						{% if likes > 1000000000 and likes < 1000000000 %}
							{{(likes / 1000000000)|round(1, 'floor')}}B
						{% endif %}
					</div>
					<a href="/gallery/{{item.Image}}" class="download" download>
						Download
					</a>
				</div>
			</article>
		{% else %}
			<p class="no-results">
				Wow! Seems like noting is here yet.
			</p>
		{% endfor %}
		{{knp_pagination_render(gallery)}}
	</main>
{% endblock %}

{% block javascripts %}
	{% if app.user %}
		<script src="/js/view.js"></script>
	{% endif %}
{% endblock %}
