{% extends "app/homepage.html.twig" %}

{% block title %}
	Results for "{{app.request.query.get('q')}}"
{% endblock %}

{% block body %}
	<main class="search-results">
		{% for result in results|reverse %}
			<section class="user-coll-img">
				<img src="{{asset('gallery/' ~ result.Image)}}">
				<div class="user-img-data">
					<div class="left">
						<p class="img-title">
							{{result.title}}
						</p>
						<p class="img-date-cat">
							<span>
								{{result.addedAt|date('M d, Y')}}
							</span>
							<span>
								Category:
								{{result.category.Name}}
							</span>
						</p>
					</div>
					<div class="img-stats">
						<div class="image-likes">
							{% if app.session.get('user') %}

								{% set liked = false %}
								{% for like in result.likes %}
									{% if app.session.get('user').Login == like.Login %}
										{% set liked = true %}
									{% endif %}
								{% endfor %}

								{% if liked == true %}
									<form action="{{path('likeImg', {'id':result.id})}}" method="POST">
										<button>
											<i class="fas fa-heart"></i>
										</button>
									</form>
								{% else %}
									<form action="{{path('likeImg', {'id':result.id})}}" method="POST">
										<button>
											<i class="far fa-heart"></i>
										</button>
									</form>
								{% endif %}
							{% else %}
								<i class="fas fa-heart"></i>
							{% endif %}
							<span>
								{{result.likes|length}}
							</span>
						</div>
						<div class="image-saves">
							{% if app.session.get('user') %}

								{% set saved = false %}
								{% for save in result.saves %}
									{% if app.session.get('user').Login == save.Login %}
										{% set saved = true %}
									{% endif %}
								{% endfor %}

								{% if saved == true %}
									<form action="{{path('saveImg', {'id':result.id})}}" method="POST">
										<button>
											<i class="fas fa-bookmark"></i>
										</button>
									</form>
								{% else %}
									<form action="{{path('saveImg', {'id':result.id})}}" method="POST">
										<button>
											<i class="far fa-bookmark"></i>
										</button>
									</form>
								{% endif %}
							{% else %}
								<i class="fas fa-bookmark"></i>
							{% endif %}
							<span>
								{{result.saves|length}}
							</span>
						</div>
					</div>
				</div>
			</section>
		{% endfor %}
	</main>
{% endblock %}
