{% extends "admin/dashboard.html.twig" %}

{% block title %}
	Users manage
{% endblock %}

{% block topContent %}
	<div class="cont-top">
		{% set users = users|length %}
		<p class="users-title">
			{% if users > 0 %}
				{{users}}
				{% if users == 1 %}
					user
				{% else %}
					users
				{% endif %}
			{% else %}
				None users
			{% endif %}
			has been found
		</p>
	</div>
{% endblock %}

{% block content %}
	{% if users is not empty %}
		<div class="table-data">
			<table class="users-manage">
				<tr>
					<th>
						Username
					</th>
					<th>
						E-mail
					</th>
					<th>
						Reset hash
					</th>
					<th>
						Saves
					</th>
					<th>
						Enabled?
					</th>
				</tr>
				{% for user in users %}
					<tr class="user-object">
						<td>
							{{user.Login}}
						</td>
						<td>
							{{user.Email}}
						</td>
						<td>
							<i class="fas fa-hashtag" title="{{user.resetHash}}"></i>
						</td>
						<td>
							<a href="{{path('userCollection', {'id':user.id})}}" class="collection">
								<i class="fas fa-bookmark"></i>
							</a>
						</td>
						<td>
							{% if user.isDisabled == false %}
								<a href="">
									<i class="fas fa-toggle-on"></i>
								</a>
							{% else %}
								<a href="">
									<i class="fas fa-toggle-off"></i>
								</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	{% else %}
		{% include "error.html.twig" %}
	{% endif %}
{% endblock %}
