{% extends "admin/index.html.twig" %}

{% block addition %}
	Reports
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link href="/styles/admin/reports/reports.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<main class="adm-report-container">
		<section class="search-data">
			<input type="text" class="admin-search-inp" placeholder="Provide conditioning data...">
		</section>
		<a href="{{path('aReasons')}}" class="view-reasons">
			View reasons
		</a>
		<section class="reports-container">
			{% if reports.pending is not empty or reports.open is not empty or reports.closed is not empty %}
				{% for label, reps in reports %}
					{% if report is not empty %}
						<p class={% if loop.first %} "section-label showing" {% else %} "section-label" {% endif %}>
							{{label|capitalize}}
						</p>
						<div class="reports-subsection">
							{% for item in reps %}
								<div class="report-item">
									<p class="report-user">
										{{item.user.Username}}
									</p>
									<p class="report-note">
										{{item.note}}
									</p>
									<p class="report-reason">
										{{item.reason.reason}}
									</p>
								</div>
							{% endfor %}
						</div>
					{% endif %}
				{% endfor %}
			{% else %}
				<p class="no-reps">
					No reports found
				</p>
			{% endif %}
		</section>
	</main>
{% endblock %}
