{% extends "admin/index.html.twig" %}

{% block addition %}
	Reports
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link href="/styles/admin/reports/reports.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<main class="adm-report-container">
		<section class="search-data">
			<input type="text" class="admin-search-inp" placeholder="Provide conditioning data...">
		</section>
		<a href="{{path('aReasons')}}" class="view-reasons">
			View reasons
		</a>
		<section class="reports-container">
			{% if reports.pending is not empty or reports.open is not empty or reports.closed is not empty %}
				{% for label, reps in reports %}
					{% if reps is not empty %}
						<div class={% if loop.first %} "reports-subsection showing" {% else %} "reports-subsection" {% endif %}>
							<p class="section-label">
								{{label|capitalize}}
								({{reps|length}})
							</p>
							{% for item in reps %}
								<div class="report-item search-field">
									<p class="report-id">
										{{item.id}}
									</p>
									<p class="report-user">
										{{item.user.Username}}
									</p>
									<p class="report-note">
										{% if item.note != "" %}
											{{item.note}}
										{% else %}
											Not provided
										{% endif %}
									</p>
									<p class="report-reason">
										{{item.reason.reason}}
									</p>
									<a href="{{path('aReport', {'id': item.id})}}">
										Open
									</a>
								</div>
							{% endfor %}
						</div>
					{% endif %}
				{% endfor %}
			{% else %}
				<p class="no-reps">
					No reports found
				</p>
			{% endif %}
		</section>
	</main>
{% endblock %}

{% block javascripts %}
	<script src="/js/admin/reports.js"></script>
{% endblock %}
