{% extends "admin/dashboard.html.twig" %}

{% block title %}
	Images manage
{% endblock %}

{% block topContent %}
	<div class="cont-top">
		{% set images = images|length %}
		<p class="images-title">
			{% if images > 1 %}
				{{images}}
				{% if images == 1 %}
					image
				{% else %}
					images
				{% endif %}
			{% else %}
				None images
			{% endif %}
			has been found
		</p>
	</div>
{% endblock %}

{% block content %}
	{% if images is not empty %}
		<div class="table-data">
			<table class="images-manage">
				<tr>
					<th>
						Image
					</th>
					<th>
						Title
					</th>
					<th>
						<i class="fas fa-folder-open" title="Category"></i>
					</th>
					<th>
						<i class="fas fa-bookmark" title="Saved"></i>
					</th>
					<th>
						<i class="fas fa-heart" title="Likes"></i>
					</th>
					<th>
						<i class="fas fa-eye" title="Views"></i>
					</th>
					<th>
						<i class="fas fa-calendar-plus" title="Added at"></i>
					</th>
					<th></th>
				</tr>
				{% for image in images %}
					<tr class="image-object">
						<td>
							<img src="{{asset('gallery/' ~ image.Image)}}" alt="Image with id {{image.id}}">
						</td>
						<td>
							{{image.Title}}
						</td>
						<td>
							{{image.category.Name}}
						</td>
						<td>
							{{image.saves|length}}
						</td>
						<td>
							{{image.likes|length}}
						</td>
						<td>
							{{image.views|length}}
						</td>
						<td>
							{{image.addedAt|date('d-m-Y')}}
						</td>
						<td>
							<a href="{{path('deleteImage',{'id':image.id})}}">
								<i class="fas fa-trash-alt"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	{% else %}
		{% include "error.html.twig" %}
	{% endif %}
{% endblock %}
