{% extends "admin/index.html.twig" %}

{% block addition %}
	Dashboard
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link href="/styles/admin/dashboard.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<main class="dashb-container">
		<section class="users-section">
			<p class="top">
				No. users
			</p>
			<p class="amount">
				{{users}}
			</p>
			<a herf="" class="manage-btn">
				Manage
			</a>
		</section>
		<section class="uploads-section">
			<p class="top">
				No. uploads
			</p>
			<p class="amount">
				{{uploads}}
			</p>
			<a herf="" class="manage-btn">
				Manage
			</a>
		</section>
		<section class="categories-section">
			<p class="top">
				No. categories
			</p>
			<p class="amount">
				{{categories}}
			</p>
			<a herf="" class="manage-btn">
				Manage
			</a>
		</section>
		<section class="tags-section">
			<p class="top">
				No. tags
			</p>
			<p class="amount">
				{{tags}}
			</p>
			<a herf="" class="manage-btn">
				Manage
			</a>
		</section>
	</main>
{% endblock %}
