{% extends "base.html.twig" %}

{% block title %}
	Admin |
	{% block addition %}{% endblock %}
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link href="/styles/admin/index.css" rel="stylesheet">
{% endblock %}

{% block body %}
	<nav class="admin-navbar">
		<p class="user">
			<span class="username">
				{{app.user.Username}}
			</span>
			<span class="role">
				{{app.user.roles|last|lower|split('_').1|capitalize}}
			</span>
		</p>
		<a href="{{path('homepage')}}" class="home-link active">
			App
		</a>
		<a href="{{path('dashboard')}}" {% if app.request.get('_route') == 'dashboard' %} class="home-link active" {% else %} class="home-link" {% endif %}>
			Home
		</a>
		{% if "ROLE_ADMIN" in app.user.roles %}
			<a href="{{path('aReports')}}" {% if app.request.get('_route') in ['aReports', 'aReasons', 'aNewReason', 'aEditReason'] %} class="reports-link active" {% else %} class="reports-link" {% endif %}>
				Reports
				{% if app.session.get('pending') %}
					<span class="exsist-pending"></span>
				{% endif %}
			</a>
		{% endif %}
		<a href="{{path('aUsers')}}" {% if app.request.get('_route') == 'aUsers' %} class="users-link active" {% else %} class="users-link" {% endif %}>
			Users
		</a>
		<a href="{{path('aUploads', {'page': 1})}}" {% if app.request.get('_route') == 'aUploads' %} class="uploads-link active" {% else %} class="uploads-link" {% endif %}>
			Uploads
		</a>
		<a href="{{path('aCategories', {'page': 1})}}" {% if app.request.get('_route') in ['aCategories', 'aCNew', 'aCEdit'] %} class="categories-link active" {% else %} class="categories-link" {% endif %}>
			Categories
		</a>
		<a href="{{path('aTags', {'page': 1})}}" {% if app.request.get('_route') in ['aTags', 'aTNew', 'aTEdit'] %} class="tags-link active" {% else %} class="tags-link" {% endif %}>
			Tags
		</a>
		<a href="{{path('logout')}}" class="logout-link">
			Logout
		</a>
	</nav>

	{% block content %}{% endblock %}
{% endblock %}
