{% extends "admin/dashboard.html.twig" %}

{% block title %}
	Add category
{% endblock %}

{% block topContent %}
	<div class="cont-top">
		<p class="create-title">
			Create category
		</p>
	</div>
{% endblock %}

{% block content %}
	<div class="create-form">
		{{form_start(catForm)}}
		<div class="name">
			{{form_label(catForm.Name)}}
			{{form_widget(catForm.Name)}}
		</div>
		<div class="tags">
			{{form_label(catForm.Tags)}}
			<div class="tags-org">
				{% for tag in catForm.Tags %}
					<div class="tag">
						{{form_widget(tag)}}
						{{form_label(tag)}}
					</div>
				{% endfor %}
			</div>
		</div>
		{{form_widget(catForm.Submit)}}
		{{form_end(catForm)}}
	</div>
{% endblock %}
