{% extends "base.html.twig" %}

{% block title %}
	Register
{% endblock %}

{% block stylesheets %}
	<link href="{{asset('styles/user.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
	<main class="register-container">
		<a href="{{path('homepage')}}" class="homepage">
			<i class="fas fa-home"></i>
			Homepage
		</a>
		{{form_start(register)}}
		{{form_widget(register.Login)}}
		{{form_widget(register.Password.first)}}
		{{form_widget(register.Password.second)}}
		{{form_widget(register.Email)}}
		{{form_widget(register.Submit)}}
		{{form_end(register)}}
		<p>
			You have account already?
			<a href="{{path('login')}}">
				Login now!
			</a>
		</p>
	</main>
{% endblock %}
